<div class="page-content">
    <div class="series-table-container">
        <div class="series-table-content">
            <!-- filters begin -->
            <div class="series-filters-container">
                <div class="filter-column-container no-grow flex-basis-40">
                    <div class="input-cont">
                        <input class="input-dtml" type="text"
                               placeholder="Name"
                               value="This is dummy text"
                               [(ngModel)]="nameFilterInputValue"
                               (keyup)="setNameFilter($event)">

                        <div class="search-icon-container">
                            <svg class="search-icon" viewBox="0 0 446.25 446.25" xmlns="http://www.w3.org/2000/svg"
                                 fill-rule="evenodd"
                                 clip-rule="evenodd">
                                <use xlink:href="assets/icons/searching-magnifying-glass.svg#searchIcon"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="filter-column-container">
                    <app-selector [placeHolder]="'Genre'"
                                  [options]="genres"
                                  (optionChange)="setGenreFilter($event)"
                    >
                    </app-selector>
                </div>
                <div class="filter-column-container">
                    <app-selector [placeHolder]="'Premiere year'"
                                  [options]="yearsOptions"
                                  (optionChange)="setPremiereFilter($event)"
                    ></app-selector>
                </div>
            </div>
            <!-- filters end -->


            <!-- series list (table) begin -->
            <app-table
                    class="series-table"
                    [columns]="tableColumns"
                    [rowsList]="localSeriesList"
                    (sortChange)="setSort($event)"
            >
            </app-table>
            <!-- series list (table) end -->


            <!--page & items per page container begin -->
            <div class="page-control-panel">
                <div class="pages-numbers-container">
                    <app-page-switcher-component
                            class="page-switcher"
                            [pagesCount]="userSeriesConfig.pagesCount"
                            [activePage]="userSeriesConfig.pageNumber"
                            [pageNumerationsCount]="countOfPagesNumerations"
                            (selectedPage)="setActivePage($event)"
                    >
                    </app-page-switcher-component>
                </div>


                <div class="items-per-page-limitations-container">
                    <div class="items-per-page-limitations-content">
                        <div *ngFor="let itemsPerPageVariant of this.itemsCountPerPageList"
                             class="page-number page-control-panel-button"
                             [ngClass]="{'active': itemsPerPage === itemsPerPageVariant}"
                             (click)="setItemsPerPageLimit(itemsPerPageVariant)"
                        >
                            <div class="page-control-panel-button-text">{{itemsPerPageVariant}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <!--page & items per page container end -->

        </div>
    </div>


    <div style="margin-top: 50px" class="pages-numerations-limitations-container">
        <div>Count of displayed pages numerations</div>
        <div *ngFor="let countNumber of [1, 2, 3, 4, 5]"
             class="page-number page-control-panel-button"
             [ngClass]="{'active': countOfPagesNumerations === countNumber}"
             (click)="countOfPagesNumerations = countNumber"
        >
            <div class="page-control-panel-button-text">{{countNumber}}</div>

        </div>
    </div>

<!--    <button (click)="userSeriesConfig.addMode = !userSeriesConfig.addMode">Toggle "ADD" mode</button>-->

<!--    <app-add-genre-component *ngIf="userSeriesConfig.addMode"></app-add-genre-component>-->
</div>



