@import "../../../../../assets/styles/varibles";

* {
    font-family: Arial, sans-serif;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 100%;
}


.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 100%;
    display: flex;
}

.table-column-header-sort-icons-container {
    visibility: hidden;

    max-width: 10px;
    height: 100%;

    fill: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 5px;

    svg {
        width: 100%;

        &.disabled {
            display: none;
        }
    }

    .sort-desc-icon {
        transform: rotateZ(180deg);
    }
}

.genres-container {
    display: flex;
    flex-direction: row;
    max-height: 20px;
    max-width: 100%;
}

.genre-item {
    background: #e85ea1;
    border-radius: 15px;
    padding: 2px 5px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;

    margin: 0 3px;

    &:first-child {
        margin: 0 3px 0 0;
    }

    &:only-child {
        margin: 0;
    }

    &:last-child:not(:first-child) {
        margin: 0 0 0 3px;
    }


    .genre-item-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        text-transform: lowercase;
    }
}


.no-rows-notification {
    font-size: 14px;
    color: #adadad;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


//-----------------------

.table-container.column-look {
    flex-direction: column;
}

.table-row-container {
    display: flex;
    width: 100%;

    background: white;

    &.header {
        background: #b176ef;
    }

    &:not(.header):nth-child(odd) {
        background: #f8f8f8;
    }

}

.table-row-column-container {
    flex: 1 1 auto;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 40px;
    padding: 5px 5px;

    &:first-child {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        flex: 0 1 40%;
    }

    &.header {
        flex-direction: row;
        align-items: center;

        min-height: initial;
        height: 20px;
        user-select: none;

        &:hover {
            .table-column-header-sort-icons-container {
                visibility: visible;
            }
        }
    }
}

//---TEXT
.table-row-column-container:first-child {
    .table-row-header-column-text, .table-row-column-text {
        text-align: left;
    }
}

.table-row-header-column-text, .table-row-column-text, .table-row-column-label-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-size: 14px;
    text-align: center;

    max-width: 100%;
}

.table-row-header-column-text {
    color: white;
}

.table-row-column-text {
    font-weight: bold;
    max-width: 100%;

    color: #5f5f5f;
}

.table-row-column-label-text {
    color: #969696;
}

//---TEXT END

@media (max-width: $low-res) {
    .table-row-container {
        flex-direction: column;
        margin: 5px 0;

        &.header {
            display: none;
        }

        &:first-child {
            margin: 0 0 5px 0;
        }

        &:last-child {
            margin: 5px 0 0 0;
        }
    }

    .table-row-column-container {
        justify-content: flex-start;
        padding: 10px 10px;
    }

    .table-row-column-text {
        text-align: left;
    }

    .table-row-column-label-text {
        display: block;
    }
}

@media (min-width: $low-res + 1) {
    .table-row-column-label-text {
        display: none;
    }
}



